:root {
  --background-color: #f2f3f5;
  --placeholder-color: #aaa;

  --color-dark: #222;
  --color-dark-2: #666;
  --color-gray: #e3e3e3;
  --color-yellow: #fdf4db;
  --color-cyan: #66afe9;
  --color-white: #fff;
  --color-red: #f03434;
  --color-green: #26a65b;
  --color-blue: #428bca;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.w-auto {
  width: auto !important;
}

.w-100 {
  width: 100% !important;
}

.w-50 {
  width: 50%;
}

.w-55 {
  width: 55%;
}

.w-45 {
  width: 45%;
}

.w-60 {
  width: 60%;
}

.w-40 {
  width: 40%;
}

.w-48 {
  width: 48%;
}

.w-17 {
  width: 17%;
}

.w-18 {
  width: 18%;
}

.row {
  position: relative;
  border-bottom: 1px solid var(--color-gray);
}

.row__remove {
  display: flex;
  padding: 0;
  position: absolute;
  top: 10px;
  right: -20px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.row__remove:hover {
  opacity: 1;
}

.row__remove:focus-within {
  opacity: 1;
}
